@import "../../../styles/helpers";

.patrones-page {

  .back-button {
    &:hover {
      color: $yellow;
      border-color: $yellow;
    }
  }

  .patrones-images {
    margin-top: 50px;

    img {
      width: 100%;
      height: 300px;
      margin-bottom: 30px;
      object-fit: cover;
    }
  }
}